body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #036;
	background-color: #FC0;
	margin: 0;
	padding:0;
	text-align:center;
}
img {
	display: block;
	border: 0;
}
#advert {
	clear: both;
	background: #960;
	padding: 5px;
	margin: 1em;
}
#advert img {
	margin: 0 auto;
}
#container {
	text-align:left;
	width: 600px;
	margin: 20px auto;
}
#footer a {
	color:#960;
}
#footer {
	clear: both;
	border-top: 1px solid #008;
	padding-top: 1em;
	text-align: center;
	color:#960;
}
#header {
	height: 160px;
	text-indent: -1000em;
	background: url("images/header.gif") no-repeat center;
}
#ball {
	float: left;
	margin: 0 10px 10px 0;
}
#previews {
	float: right;
}
#previews img {
	margin-bottom: 15px;
}
#text {
	margin-right: 150px;
}
#thegame {
	background: #000;
	padding: 2px;
	text-align: center;
	color: #CCC;
}
#thegame a {
	color: #CCC;
}
p.clear {
	clear: left;
}
#awards img {
	display: inline;
	margin: 5px;
}
#start {
	float: right;
	text-align: right;
	width: 40%;
}
#start a {
	color: #036;
}
#awards {
	border: solid #FFDC51;
	border-width: 1px 0;
	padding: 10px;
	margin: 10px;
	text-align: left;
}
#sponsors {
  clear: both;
  margin: 0;
  padding: 1em 0;
  overflow: hidden;
}
#sponsors ul {
  margin: 1em 0;
  padding: 0;
}
#sponsors li {
  list-style: none;
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px solid #E9BE00;
  float: left;
  width: 100px;
  height: 50px;
  text-align: center;
  
}
#ads {
  clear: both;
}
.flash-demos {
	margin: 5px;
	padding: 5px;
	border: 1px solid #CC3333;
}
.sections {
	margin: 5px;
	padding: 5px;
}
.smallby {
	font-size: 9px;
	color: #FFFFFF;
	padding: 2px;
}

.amazon-products {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.amazon-products li {
  list-style: none;
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  text-align: center;
}
iframe {
  border: 0;
}

.google {
    margin: 1em -64px 1em;
}